<!-- user profile page -->

<!-- profile header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_head" style = "height:510px; margin-bottom:10px" >
	   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
            <div class="grid-stack-item-content" style = "background-color:white">
                <div class="ud_portbox">
                    <div class="ud_portavatar"><%= image_tag @profile.avatar.url%></div>
                    <div class="ud_portbody">
                        <%= form_for @profile do |f| %>   
							<%=f.label :First_Name %>   
							<%=f.text_field :fname, :class => 'upform' %> 
							<br>
							<%=f.label :Last_Name%>   
							<%=f.text_field :lname, :class => 'upform' %>  
							<br>
							<%=f.label :Bio, class: "bio-label" %>
							<br>   
							<%=f.text_area :bio, cols: 30, rows: 3, :class => 'upform_bio' %>  
							<br>
							
							<%=f.label :Hometown_City%>   
							<%=f.text_field :hometown_city, :class => 'upform' %>  
							<br>
							<%=f.label :Hometown_state %>   
							<%=f.select :hometown_state, options_for_select(us_states) %>   
							<br>
							<%=f.label :Current_City%>   
							<%=f.text_field :current_city, :class => 'upform' %>  
							<br>
							<%=f.label :Current_state %>   
							<%=f.select :current_state, options_for_select(us_states) %>   
							<br>
							<%=f.label :Avatar %> 
							<%= f.file_field :avatar %>
							<br> 
							<%=f.submit :update, :class => 'up_subbutton' %>
							<div class="update_user"><%=link_to "update login", edit_user_path(@profile.user.id) %></div>
							<% end %>
                    </div>
                </div>
            </div>
    </div>
   <div class="grid-stack-item" data-gs-x="3" data-gs-y="0" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my photos</div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="1" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my events</div>
    </div>
    <div class="grid-stack-item" data-gs-x="5" data-gs-y="0" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my snaps</div>
    </div>
    <div class="grid-stack-item" data-gs-x="5" data-gs-y="1" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my flashes</div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="2" data-gs-width="3" data-gs-height="1">
		<div class="grid-stack grid-stack-static grid-stack-6 profile_follow_head2" style = "height:50px; margin-bottom:10px" >
   			<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="6" data-gs-height="1">
            	<div class="grid-stack-item-content" style = "background-color:#32b5ff">who i follow and search</div>
    		</div>
		</div>

	</div>


</div>


<!-- following header -->

<!-- following -->
<br><br><br><br><br><br><br><br><br>