<!-- <h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>

 -->
<!-- user profile page -->
<% if verify %>

<!-- profile -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_body" style = "height:340px; margin-bottom:10px" >
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
            <div class="grid-stack-item-content" style = "background-color:white">
                <div class="portbox">
                    <div class="portavatar" style = "background-color:white; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=@profile.avatar.url%>)" ></div>
                    <div class="portbody">
                        First Name : <div class="portdisplay"> <%= @fname %> </div>
                        <br>
                        Last Name : <div class="portdisplay"> <%= @lname %> </div>
                        <br>
                        About Me : <div class="portdisplay"> <%= @bio %></div>
                        <br>
                        My Hometown &amp; State : <div class="portdisplay"> <%= @hometown_city %></div> <div class="portdisplay"> <%= @hometown_state %></div>
                        <br>
                        My Current City &amp; State : <div class="portdisplay"> <%= @current_city%></div> <div class="portdisplay"> <%= @current_state %></div>
                        <br>
                        Member Since : <div class="portdisplay"> <%= @member_since.strftime("%b %d, %Y") %></div>
                        <br><br>
                        <div class="update_user"><%=link_to "update login", edit_user_path(@profile.user.id), method: :get %></div>
                        <div class="update_user"><%=link_to "update portrait", edit_profile_path(@profile.id), method: :get %></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="0" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff"><%=link_to "Create a new event", new_event_path, method: :get %></div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="1" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my events</div>
    </div>
    <div class="grid-stack-item" data-gs-x="5" data-gs-y="0" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my snaps</div>
    </div>
    <div class="grid-stack-item" data-gs-x="5" data-gs-y="1" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my flashes</div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="2" data-gs-width="3" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my photos</div>
    </div>

</div>

<!-- following header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_follow_head" style = "height:50px; margin-bottom:10px" >
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="6" data-gs-height="1">
            <div class="grid-stack-item-content">
            <div class="follow_head">who i follow</div>
            <div class="follow_search">search for friends&nbsp;&nbsp;<div class="fakefield"></div></div>
            </div>
    </div>
</div>

<!-- following -->
<div class="grid-stack grid-stack-static grid-stack-12 profile_follow_body" style = "height:85px; margin-bottom:10px" >
	<%z=0%>

	<%@user.user_being_followeds.all.each do |follower| %>

   <div class="grid-stack-item" data-gs-x="<%=z%>" data-gs-y="0" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=follower.profile.avatar.url%>)">

            	<%=link_to follower.profile.fname, profile_path(follower.profile.id), method: :get %>

            </div>
    </div>
    
<%z= z >=12 ? 0 : z+=1%>
    <%end%>
</div>




<!-- This is the divide between the two works... -->


<!-- Check if the user accessing the page is the pageowner -->
  <%else%>
<!--   This is not your account. -->

<!-- profile header -->


<div class="grid-stack grid-stack-static grid-stack-6 profile_body" style = "height:340px; margin-bottom:10px" >
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
            <div class="grid-stack-item-content" style = "background-color:white">
                <div class="portbox">
                    <div class="portavatar" style = "background-color:white; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=@profile.avatar.url%>)" ></div>
                    <div class="portbody">
                        First Name : <div class="portdisplay"> <%= @fname %> </div>
                        <br>
                        Last Name : <div class="portdisplay"> <%= @lname %> </div>
                        <br>
                        About Me : <div class="portdisplay"> <%= @bio %></div>
                        <br>
                        My Hometown &amp; State : <div class="portdisplay"> <%= @hometown_city %></div> <div class="portdisplay"> <%= @hometown_state %></div>
                        <br>
                        My Current City &amp; State : <div class="portdisplay"> <%= @current_city%></div> <div class="portdisplay"> <%= @current_state %></div>
                        <br>
                        Member Since : <div class="portdisplay"> <%= @member_since.strftime("%b %d, %Y") %></div>
                        <br><br>
                    </div>
                </div>
            </div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="0" data-gs-width="3" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my events</div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="1" data-gs-width="3" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my photos</div>
    </div>
    <div class="grid-stack-item" data-gs-x="3" data-gs-y="2" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my snaps</div>
    </div>
    <div class="grid-stack-item" data-gs-x="5" data-gs-y="2" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my flashes</div>
    </div>

</div>

<!-- following header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_follow_head" style = "height:50px; margin-bottom:10px" >
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="6" data-gs-height="1">
            <div class="grid-stack-item-content">
            <div class="follow_head">i follow</div>
            <div class="follow_search">search for friends&nbsp;&nbsp;<div class="fakefield"></div></div>
            </div>
    </div>
</div>

<!-- following -->
<div class="grid-stack grid-stack-static grid-stack-12 profile_follow_body" style = "height:85px; margin-bottom:10px" >
    <%z=0%>

    <%@user.user_being_followeds.all.each do |follower| %>

   <div class="grid-stack-item" data-gs-x="<%=z%>" data-gs-y="0" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=follower.profile.avatar.url%>)">

                <%=link_to follower.profile.fname, profile_path(follower.profile.id), method: :get %>

            </div>
    </div>
    
<%z= z >=12 ? 0 : z+=1%>
    <%end%><%end%>
</div>

<br><br><br><br><br><br><br><br><br>


