<!-- user update login page -->

<!-- profile header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_head" style = "margin-bottom:10px" >
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:white">
	            <%= form_for @user do |f| %>   
				<%=f.label :First_Name %>   
				<%=f.text_field :fname %> 
				<br><br>
				<%=f.label :Last_name %>   
				<%=f.text_field :lname %>  
				<br><br>
				<%=f.label :email %>   
				<%=f.email_field :email %>  
				<br><br>
				<%=f.label :password %>   
				<%=f.password_field :password %>  
				<br><br>
				<%=f.label :city %>   
				<%=f.text_field :city %> 
				<br><br>
				<%=f.label :state %>   
				<%=f.select :state, options_for_select(us_states) %>  
				<br><br> 
				<div class="button"><%=f.submit :create %></div>
				<% end %>
            </div>
    </div>

    <div class="grid-stack-item" data-gs-x="3" data-gs-y="0" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff"></div>
    </div>
</div>
