<!-- event show page -->

<!-- profile header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_head" style = "height:170px; margin-bottom:10px" >
   
   <%if @event.pictures[0]%>
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">

           

            <div class="grid-stack-item-content" style = "background-color:#32b5ff background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=@event.pictures[0].picture_file.url%>)">
            
                <%=@event.event_name%></div>
            <%=link_to "Open", populate_path(id: @event.pictures[0].id), remote: true, class: "pop" %> 
            <%else%>
             <div class="grid-stack-item-content" style = "background-color:#32b5ff background-size: cover; background-repeat: no-repeat; background-position: center">

       
            <%end%>
	

    </div>
    
    <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content" style = "background-color:white">
            <div class="de_portbox">
					<div class="de_eventname"><%= @event.event_name %></div>
					<div class="de_portbody">
						<%= @event.event_description %> 
						<br>
						where?  <%= @event.event_location %> 
						
						<br>
						from . <%= @start %> how long?  <%= @length %> 
						<br>
						<%= @event.event_city %>, <%= @event.event_state %> 
						<br><br>
						<%=link_to "follow event", follow_event_path(@event),:class => 'de_subbutton' %>
						<% if current_user %>
						<% end %>
					</div>
				</div>
            </div>
    </div>
</div>
	<%= form_for @picture, :url => { :controller => "pictures", :action => "create" }, :html => {:method => :post} do |f| %>  
	
	
	<%=f.label :Picture_file %> 
	<%=f.file_field :picture_file %>
	<%=f.label :Picture_Description %> 
	<%=f.text_field :description%>
	<%=f.hidden_field :event_id, :value => @event.id%>
	<%=f.hidden_field :user_id, :value => @id%>
	
	<span class="button"><%=f.submit "Post picture" %></span>
	<% end %>

<!-- display photos of event -->
<div class="grid-stack grid-stack-6 second" style = "margin-top:10px" >

	<%i=0%><%x=0%>

	<!-- This is for demoing when there are not many images -->
	
	<!-- remove on deployment -->
	

	<% @image.all.reverse.each do |a| %>

	<div class="grid-stack-item" data-gs-max-width="3" data-gs-max-height="2" data-gs-x="<%=i%>" data-gs-y="0" data-gs-width="1" data-gs-height="1">
		<div class="grid-stack-item-content" style = "background-color:orange; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=a.picture_file.url%>)"></div>
		<%=link_to "Open", populate_path(id: a.id), remote: true, class: "pop" %> 
	</div>


	<%i= i >=5 ? 0 : i+=1%>
	<%end%>
	

</div>

</div> 






	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
