<!-- event show page -->

<!-- profile header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_head" style = "height:170px; margin-bottom:10px" >
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="2">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=@event.pictures[0].picture_file.url%>)" ><%=@event.event_name%></div>
    </div>
    <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="2" data-gs-height="2">
            <div class="grid-stack-item-content" style = "background-color:white">
            <div class="de_portbox">
					<div class="de_eventname"><%= @event.event_name %></div>
					<div class="de_portbody">
						<%= @event.event_description %> 
						<br>
						where?  <%= @event.event_location %> 
						<br>
						how long?  <%= @length %> 
						<br>
						from . <%= @start %> 
						<br>
						till . <%= @end %> 
						<br>
						<%= @event.event_city %>, <%= @event.event_state %> 
						<br><br>
						<%=link_to "follow event", follow_event_path(@event),:class => 'de_subbutton' %>
						<% if current_user %>
						<% end %>
					</div>
				</div>
            </div>
    </div>
</div>
	<%= form_for @picture, :url => { :controller => "pictures", :action => "create" }, :html => {:method => :post} do |f| %>  
	<br><br>
	<%=f.label :Picture_file %> 
	<%=f.file_field :picture_file %>
	<%=f.hidden_field :event_id, :value => @event.id%>
	<%=f.hidden_field :user_id, :value => @id%>
	<br><br> 
	<div class="button"><%=f.submit "Post picture" %></div>
	<% end %>

<!-- display photos of event -->
<div class="grid-stack grid-stack-6 second" style = "margin-top:10px" >

	<%i=0%><%x=0%>
	<% 25.times do%>
	<% @image.all.reverse.each do |a| %>

	<div class="grid-stack-item" data-gs-max-width="3" data-gs-max-height="2" data-gs-x="<%=i%>" data-gs-y="0" data-gs-width="1" data-gs-height="1">
		<div class="grid-stack-item-content" style = "background-color:orange; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url(<%=a.picture_file.url%>)"></div>
	</div>


	<%i= i >=5 ? 0 : i+=1%>
	<%end%>
	<%end%>





</div>





</div> 






	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>