<h1>Event#show</h1>
<p>Find me in app/views/event/show.html.erb</p>

Event: <%= @event.event_name %> 
<br>
Description: <%= @event.event_description %> 
<br>
Location: <%= @event.event_location %> 
<br>
Number of Days: <%= @length %> 
<br>
Start Date: <%= @start %> 
<br>
End Date: <%= @end %> 
<br>
City: <%= @event.event_city %> 
<br>
State: <%= @event.event_state %> 
<br>


<%=link_to "follow event", follow_event_path(@event) %>


<%= form_for @event do |f| %>   
			<br><br>
			<%=f.label :Media_Name %> 
	<%= f.file_field :media_name %>
			<br><br> 
			<div class="button"><%=f.submit :create_media %></div>
			<% end %>
