$(document).ready (function(){
	var x='';
		x+='<!-- Displays the event the picture is from -->'
		x+='<div class="mod_event">'
		x+='Event <%= link_to pic_event.event_name, event_path(pic_event), method: :get%>'
		x+='</div>'
		x+='<div class="mod_user">'
		x+='<%= link_to pic_profile.fname, profile_path(pic_profile) if pic_profile%>'
		x+='</div>'
		x+='<br>'
		x+='<%=@picture.created_at.strftime("%b %d, %Y (%l:%M %P)")%>'
		x+='<br><br>'
 		x+='<div class="highlight">'
		x+='<!-- Displays the image for the show box id -->'
		x+='<div class="hl_image">'
		x+='<%=image_tag(@picture.picture_file.url, :class => "img_display")%>'
		x+='<div class="photo_butt">'
		x+='<div class="flash_butt">'
		x+='<!-- This is for flash liking pictures -->'
		x+='<%= form_for @flash, :url => { :controller => "flashes", :action => "create" }, :html => {:method => :post} do |f| %>' 
		x+='<%=f.hidden_field :picture_id, :value => @picture.id%>'
		x+='<%=f.hidden_field :user_id, :value => @id%>'
		x+='<div class="button"><%=f.submit :flash %></div>'
		x+='<% end %> <%= flash_count%>'
		x+='</div>'
		x+='<div class="snap_butt">'
		x+='<!-- This is for snap resharing pictures -->'
		x+='<%= form_for @snap, :url => { :controller => "snaps", :action => "create" }, :html => {:method => :post} do |f| %>' 
		x+='<%=f.hidden_field :picture_id, :value => @picture.id%>'
		x+='<%=f.hidden_field :user_id, :value => @id%>'
		x+='<div class="button"><%=f.submit :snap %></div>'
		x+='<% end %> <%= snap_count(@picture.id) %>'
		x+='</div>'
		x+='</div>'
		x+='</div>'
		x+='</div>'
		x+='<div class="comment_bar">'
		x+='<div class"comment_loop"></div>'
		x+='<!-- Needs to be hidden if not logged in -->'
		x+='<%= form_for @comment, :url => { :controller => "comments", :action => "create" }, :html => {:method => :post} do |f| %>' 
		x+='<br><br>'
		x+='<%=f.hidden_field :picture_id, :value => @picture.id%>'
		x+='<%=f.hidden_field :user_id, :value => @id%>'
		x+='<div class="comment_field">'
		x+='<%=f.text_field :comment_text, :class => "commform" %>'
		x+='</div>'
		x+='<br><br>'
		x+='<div class="comm_button"><%=f.submit :comment %></div>'
		x+='</div>'
		x+='<% end %>'

	$('.lightbox-outer').show();
	$('.lightbox-inner').append(x);
	var imgwidth = $(".img_display").width()
    imgwidth -= 100
    imgwidth = imgwidth.toString() + "px"
    $('.photo_butt').css("left", imgwidth);

        var page_height = $(window).height();
        var image_height = $('.lightbox-inner').height();
        var image_height_offset = ( page_height - image_height ) / 2;
        $('.lightbox-inner').css("margin-top", image_height_offset);

});