<!DOCTYPE html>
<html>
<head>
  <title>RMBR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- header -->
<div class="grid-stack grid-stack-static grid-stack-6 top" style = "height:110px; margin-bottom:10px; z-index: 9999; background-color: rgba(255,255,255, 0.9);" >

    <div class="grid-stack-item" 
    data-gs-x="0" data-gs-y="0" 
    data-gs-width="1" data-gs-height="1" id="default">
    <div class="grid-stack-item-content">
        <% if current_user %>
        <div class="portdisplay">

            <%= link_to("Events", events_path, method: :get, style: "text-decoration:none")%>
            <br>
            <%= link_to("Pictures", pictures_path, method: :get, style: "text-decoration:none")%>
        </div>
        <%else%>
        <div class="portdisplay"> Welcome.

        </div>



        <%end%>

    </div>
</div>
    <div class="grid-stack-item" 
        data-gs-x="1" data-gs-y="0" 
        data-gs-width="4" data-gs-height="1" id="default">
            <div class="grid-stack-item-content">
                <div class="lg_top" style = "background-image: url(<%=asset_path 'logo.svg' %>)"></div>
            </div>
    </div>
    <div class="grid-stack-item" 
    data-gs-x="6" data-gs-y="0" 
    data-gs-width="1" data-gs-height="1" id="default">
    <div class="grid-stack-item-content">
        <div class="portdisplay"> 
            <% if current_user %>

            <%= link_to("Profile", profile_path(current_user.profile), method: :get, style: "text-decoration:none")%></div>
            <br>
            <div class="portdisplay"> <%= link_to("Sign-out", destroy_user_session_path, method: :delete, style: "text-decoration:none")%>
                <%else%>

                <%= link_to("Sign-in", new_user_session_path, method: :get, style: "text-decoration:none")%></div>
            <br>
            <div class="portdisplay"> <%= link_to("Sign-up", new_user_registration_path, method: :get, style: "text-decoration:none")%>





                <%end%>

            </div>


        </div>
    </div>

</div>
<!-- bottom -->
<div class="grid-stack grid-stack-static grid-stack-6 bott" style = "height:80px; width: 95%; margin-left: 2.5%; position:fixed; bottom:0px; left:0px; right:0px; margin-bottom:0px; z-index: 9998; background-color: rgba(255,255,255, 0.9);-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
 border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
border-top-right-radius: 10px;" >

    <div class="grid-stack-item" 
        data-gs-x="0" data-gs-y="0" 
        data-gs-width="2" data-gs-height="1" id="default">
            <div class="grid-stack-item-content">
                <div class="txt_bott" style = "background-image: url(<%=asset_path 'type_blue_ol.svg' %>)"></div>
            </div>
    </div>
    <div class="grid-stack-item" 
        data-gs-x="2" data-gs-y="0" 
        data-gs-width="2" data-gs-height="1" id="default">
            <div class="grid-stack-item-content">
                <div class="bott_links">the latest the greatest the hottest</div>
            </div>
    </div>

</div>
<%= yield %>
<div class="lightbox-outer">
    <div class="lightbox-inner">
    <div class="close">close</div>
    </div>
</div>

</body>
</html>
