<!-- users edit page -->

<!-- profile header -->
<div class="grid-stack grid-stack-static grid-stack-6 profile_head" style = "height:510px; margin-bottom:10px" >
     <div class="grid-stack-item" data-gs-x="3" data-gs-y="0" data-gs-width="3" data-gs-height="3">
            <div class="grid-stack-item-content" style = "background-color:white">
                <div class="eu_portbox">
                    <div class="eu_portbody">
                    <h2>want to change your info, <%= resource_name.to_s.humanize %>?</h2>

                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                          <%= devise_error_messages! %>

                          <div class="field">
                            <%= f.label :email %>
                            <%= f.email_field :email, autofocus: true, :class => 'euform' %>
                          </div>

                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>

                          <div class="field">
                            <%= f.label :password %>
                            <%= f.password_field :password, autocomplete: "off", :placeholder => "leave blank if you don't want to change it", :class => 'euform' %>
                          </div>

                          <div class="field">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'euform' %>
                          </div>

                          <div class="field">
                            <%= f.label :current_password %>
                            <%= f.password_field :current_password, autocomplete: "off", :placeholder => "to confirm your changes", :class => 'euform' %>
                          </div>

                          <div class="actions">
                            <%= f.submit "rmbr me!", :class => 'eu_upbutton' %>
                          </div>
                        <% end %>

                          <h3>want to cancel your account?</h3>

                          <%= button_to "unhappy? say goodbye", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'eu_cancbutton' %>

                          <h4><%= link_to "back", :back %></h4>
                    </div>
                </div>
            </div>
    </div>
   <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my photos</div>
    </div>
    <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my events</div>
    </div>
    <div class="grid-stack-item" data-gs-x="2" data-gs-y="0" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my snaps</div>
    </div>
    <div class="grid-stack-item" data-gs-x="2" data-gs-y="1" data-gs-width="1" data-gs-height="1">
            <div class="grid-stack-item-content" style = "background-color:#32b5ff">my flashes</div>
    </div>
    <div class="grid-stack-item" data-gs-x="0" data-gs-y="2" data-gs-width="3" data-gs-height="1">
    <div class="grid-stack grid-stack-static grid-stack-6 profile_follow_head2" style = "height:50px; margin-bottom:10px" >
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="6" data-gs-height="1">
              <div class="grid-stack-item-content" style = "background-color:#32b5ff">who i follow and search</div>
        </div>
    </div>

  </div>


</div>


<!-- following header -->

<!-- following -->
<br><br><br><br><br><br><br><br><br>
